body {
    background-image: url(https://thumbs.dreamstime.com/b/light-dark-green-background-faint-grunge-texture-design-elegant-spotlight-shadow-border-effect-soft-162631177.jpg);
    background-size: cover;
}
h1 {
 
    color: black;
    text-align: center;
}
form {
  
    background-size: cover;
    text-align: center;
}
input {
    color: black;
    text-align: center;
}
h5 {
    color: black;
    text-align: center;
}